{% extends 'mail/base.html' %}
{% block title %}Сообщение успешно передано{% endblock %}

{% block content %}


<div class="row justify-content-center">
    <div class="col-md-6 text-white">
        <h2 class="text-center ">Уведомление</h2>
        <form method="post" enctype="multipart/form-data" >
            <div class="card" style="background-color: #212529;">
                <p class="card-text text-white" >Pong!</p>

                <a href='#' class="btn text-white" style="background-color: #1a1c1f;">
                    Вернуться на главную
                </a>
            </div>
        </form>
    </div>
</div>

{% endblock %}