{% extends 'base.html' %}
{% block title %}Вход{% endblock %}

{% block content %}
<div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center text-white">Вход</h2>
            <form method="post" enctype="multipart/form-data">
                <div class="card text-white" style="background-color: #212529;">
                    <div class="card-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>
                    <button type="submit" class="btn btn-primary" style="background-color: #1a1c1f;">
                        Войти
                    </button>
                    <a href="{% url 'users:password_reset' %}">Забыли пароль?</a>
                    <a href="{% url 'users:register' %}">Регистрация</a>
                </div>

            </form>
        </div>
    </div>
{% endblock %}