{% extends 'base.html' %}
{% block title %}{{ object.full_name }}{% endblock %}

{% block content %}
<!-- Контент -->


<div class="col-md-4 d-flex justify-content-center align-items-stretch p-3">
  <div class="card border-0 shadow-lg w-100" style="background-color: #212529;">
      <div class="text-center">
          <span class="fs-3 p-3 text-white">{{ object.username}}</span>
          <br>
          <span class="fs-6 text-white">{{ object.email }}</span>
      </div>
      <hr class="white-hr">
  </div>
</div>
{% endblock %}